#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/buildvars.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/class/gnome.mk
include /usr/share/cdbs/1/rules/utils.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk

DEB_SHLIBDEPS_INCLUDE += debian/tmp/usr/lib

DEB_DH_MAKESHLIBS_ARGS_ALL += -V

DEB_CONFIGURE_EXTRA_FLAGS += --sysconfdir=/etc \
	--libexecdir=\$${prefix}/lib/evolution \
	--with-nspr-includes=/usr/include/nspr \
	--with-nss-includes=/usr/include/nss \
	--enable-ipv6 \
	--enable-nntp \
	--enable-smime \
	--with-openldap \
	--with-krb5=/usr

DEB_FIXPERMS_EXCLUDE += usr/lib/evolution/camel-lock-helper*

common-binary-predeb-arch::
	cat debian/*/DEBIAN/shlibs > debian/shlibs.local

binary-install/evolution-data-server::
	chgrp mail $(CURDIR)/debian/evolution-data-server/usr/lib/evolution/camel-lock-helper*
	chmod g+s $(CURDIR)/debian/evolution-data-server/usr/lib/evolution/camel-lock-helper*
