[Desktop Entry]
Version=1.0
Name=Evolution Data Server
Name[as]=Evolution Data Server
Name[be]=Сервер даных Evolution
Name[bn_IN]=Evolution ডেটা সার্ভার
Name[ca]=Servidor de dades de l'Evolution
Name[ca@valencia]=Servidor de dades de l'Evolution
Name[cs]=Datový server Evolution
Name[da]=Evolution Data Server
Name[de]=Evolution Data Server
Name[el]=Διακομιστής δεδομένων Evolution
Name[es]=Servidor de datos de Evolution
Name[eu]=Evolution-eko datuen zerbitzaria (EDZ)
Name[fi]=Evolution-datapalvelin
Name[fr]=Serveur de données Evolution
Name[gl]=Servidor de datos de Evolution
Name[gu]=Evolution Data Server
Name[hi]=एवोल्यूशन डाटा सर्वर
Name[hu]=Evolution adatkiszolgáló
Name[id]=Server Data Evolution
Name[it]=Evolution Data Server
Name[ja]=Evolution データサーバー
Name[kn]=Evolution ಡೇಟಾ ಸರ್ವರ್
Name[ko]=에볼루션 데이터 서버
Name[lt]=Evolution duomenų serveris
Name[lv]=Evolution datu serveris
Name[mr]=इवोल्यूशन डाटा सर्व्हर
Name[nb]=Evolution Data Server
Name[nl]=Evolution Data Server
Name[or]=Evolution ତଥ୍ୟ ସର୍ଭର
Name[pl]=Serwer danych Evolution
Name[pt]=Evolution Data Server
Name[pt_BR]=Servidor de dados do Evolution
Name[ru]=Сервер данных Evolution
Name[sk]=Server údajov Evolution (EDS)
Name[sl]=Podatkovni strežnik Evolution
Name[sr]=Сервер Еволуцијиних података
Name[sr@latin]=Server Evolucijinih podataka
Name[sv]=Evolution Data Server
Name[ta]=Evolution Data Server
Name[te]=ఎవాల్యూషన్ డేటా సర్వర్
Name[zh_CN]=Evolution 数据服务器
Name[zh_HK]=Evolution 資料伺服器
Name[zh_TW]=Evolution 資料伺服器
Comment=Required to have EDS appear in UOA
Comment[as]=EDS ক UOA ত উপস্থিত হোৱাটো প্ৰয়োজনীয়
Comment[be]=Патрэбна для таго, каб EDS з'явіўся ў UOA
Comment[bn_IN]=UOA এ দেখা যাওয়া EDS থাকা প্রয়োজনীয়
Comment[ca]=Necessari perquè l'EDS es mostri a l'UOA
Comment[ca@valencia]=Necessari perquè l'EDS es mostre a l'UOA
Comment[cs]=Vyžadováno, aby se datový server Evolution objevil v UOA
Comment[da]=EDS skal vises i UOA
Comment[de]=Notwendig, damit EDS in UOA (Online-Konten) erscheint
Comment[el]=Απαιτείται να έχει εμφάνιση EDS στο UOA
Comment[es]=Es necesario tener EDS en UOA
Comment[eu]=UOAn EDZ agertzea behar da
Comment[fr]=EDS doit apparaître dans UOA
Comment[gl]=Requirido para que EDS apareza en UOA
Comment[gu]=UOA માં EDS નું દેખાવુ જરૂરી છે
Comment[hi]=EDS को UOA में प्रकट होने के लिए जरूरी
Comment[hu]=Szükséges az UOA-ban megjelenő EDS megléte
Comment[id]=Perlu punya EDS yang muncul dalam UOA
Comment[it]=È necessario affiché EDS appaia in UOA
Comment[ja]=UOA に現れる EDS を持っている必要があります
Comment[kn]=UOA ನಲ್ಲಿ EDS ಕಾಣಿಸುವಂತೆ ಮಾಡಬೇಕಿದೆ
Comment[ko]=EDS가 UOA에 나타나게 하는데 필요
Comment[lt]=Būtinas, kad EDS būtų matomas UOA
Comment[lv]=Vajadzīgs, lai EDS parādītos UOA
Comment[mr]=UOA मध्ये EDS आवश्यक आहे
Comment[nb]=Kreves for å vise EDS i UOA
Comment[nl]=Vereist om EDS in UOA te doen verschijnen
Comment[or]=UOA ରେ ଦୃଶ୍ୟମାନ EDS ଥିବା ଆବଶ୍ୟକ
Comment[pl]=Wymagane, aby EDS pojawiło się w UOA
Comment[pt]=Requerido para que o EDS surja no UOA
Comment[pt_BR]=É necessário que servidor de dados do Evolution (EDS) apareça no UOA
Comment[ru]=Требование наличия ЭЦП появилось в UOA
Comment[sk]=Mať EDS v UOA je nevyhnutnosť
Comment[sl]=Zaheva zapis EDS v UOA
Comment[sr]=Потребно је да се СЕП појави у УОА-у
Comment[sr@latin]=Potrebno je da se SEP pojavi u UOA-u
Comment[sv]=Krävs för att EDS ska visas i UOA
Comment[ta]=UOA இல் EDS காண்பிக்கப்பட தேவைப்பட்டது
Comment[te]=UOA నందు కనిపించ EDS కావలసివుంది
Comment[zh_CN]=要求 UOA 中要出现 EDS
Comment[zh_HK]=要求 UOA 中要出現 EDS
Comment[zh_TW]=要求 UOA 中要出現 EDS
Type=Application
NoDisplay=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=evolution-data-server
X-GNOME-Bugzilla-Component=General
X-GNOME-Bugzilla-Version=3.12.9
